[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycocotools = "*"
numpy = "==1.16.0"
opencv-python = "*"
tqdm = "*"
tensorboard = "*"
tensorboardx = "*"
pyyaml = "*"
webcolors = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.7"
